<button *ngIf="!isActive" (click)="startStoper()">Start</button>
<button *ngIf="isActive" (click)="stopStoper()">Stop</button>
<button *ngIf="isActive" (click)="addRound()">Round</button>
<button *ngIf="!isActive" (click)="resetStoper()">Reset</button>
<h1>Time: {{ seconds }}: {{decSeconds}} </h1>

<div *ngIf="!isActive && (seconds > 0 || decSeconds > 0)">
    <input [(ngModel)]="userName">
    <button (click)="saveResult()">Save</button>
</div>

<app-rounds-list [rounds]="rounds"></app-rounds-list>
<app-results-list [results]="results"></app-results-list>


